.btn-h1-spacing{
	margin-top: 18px;
}

.form-spacing-top{
	margin-top: 30px;
}

.btn-spacing-top{
	margin-top:20px;
}
.btn-sm-spacing-top{
	margin-top: 10px;
}

.comment {
	margin-bottom: 45px;
}

.author-image{
	width:50px;
	height: 50px;
	border-radius: 50%;
	float: left;
}

.author-name{
	float: left;
	margin-left: 15px;
}

.author-name>h4{
	margin: 5px;
}

.author-time{
	font-size: 11px;
	font-style: italic;
	color: #aaa;
}

.post-body{
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.58;
  color:#4b4d51;
  letter-spacing: -.004em;
}

.comment-content{
	clear: both;
	margin-left: 65px;
	font-size: 16px;
	line-height: 1.3em;
}
.comment-title {
	margin-bottom: 45px;
}
.comment-title>span{
	margin-right: 15px;

}

.img-round {
	border-radius: 50%;
	border:2px solid #000;
	//background-size: cover;
}

.head {
	font-size: 30px;
	padding: 30px;
	font-family: 'Titillium Web', sans-serif;
}

.pageInfo {
	font-family: 'Quicksand', sans-serif;
}

.comment-img {
	width: 80px;
	height: 80px;
}

.address {
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
}

.about {
	font-size: 28px;
	font-family: 'Marvel', sans-serif;
	line-height: 50px;
}

.tag-box{
	border:1px solid #000;
	/*border-radius: 10%;*/
	color: #515254;
	padding: 5px;
	margin: 2px;
	/*width: 100px;*/
	float: left;
	text-align: center;
}

.tag-box:hover{
	background-color: #515254;
	color: #fff;
}

.category-box a{
	display: block;
	border:1px solid #000;
	padding: 10px;
	color: #515254;
	margin: 2px;
	float: left;
	text-align: center;
	transition: all 0.5s;
}

.category-box a:hover{
	color: #fff;
	background-color: #515254;
}

.cat-box{
	display: block;
	border:1px solid #000;
	padding: 10px;
	color: #515254;
	margin: 2px;
	margin-right: 10px;
	float: left;
	text-align: center;
	transition: all 0.5s;
}

.cat-box:hover{
	color: #fff;
	background-color: #515254;
}

.logo{
	font-family: 'Economica', sans-serif;
	font-size: 40px;
	color: black;
}

.logo-span{
	color: #5894f4;
	border:2px solid black; 
	border-radius: 20%; 
	padding: 2%;
}

.para{
	line-height: 200%;
	font-size: 18px;
	font-family: 'Roboto Mono', monospace;
}

.CatgoryScrollmenu {
    /*background-color: #333;*/
    overflow: auto;
    white-space: nowrap;
    margin: 5%;
    border-top:1px solid #e3e3e3;
}

.CatgoryScrollmenu a {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.CatgoryScrollmenu a:hover {
    color: #4591ef;
}

.social-links{
	border-left: 2px solid #e3e3e3;
}

.social-links li input{
	box-shadow: 2px 2px 2px #888888;
}


::-webkit-scrollbar {
      width: 8px;
      height: 5px;
}

::-webkit-scrollbar-track {
      background-color: #d9dde2;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.5); 
} /* this will style the thumb, ignoring the track */
 /*
::-webkit-scrollbar-button {
      background-color: #4591ef;
}  */
 
::-webkit-scrollbar-corner {
      background-color: #4591ef;
} 

.about-para{
	color: #b1b2b5;
	font-size: 25px;
	line-height: 30px;
	padding-top: 5%;
}
.large-hash{
	font-size: 50px;
}

/*user avatar chip starts*/

.avatarChip {
    float: left;
    /*margin-top: 1em;*/
    /*margin-right: 1em;*/
    position: relative;
    display: inline;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

/*user avatar chip ends*/

/*page loader*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #04a5fb;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}


/*feedback button*/
#mySidenav button {
    position: fixed;
    bottom: 5px;
    right: 5px;
    transition: 0.3s;
    height: 40px;
    width: 120px;
    padding:10px;
    z-index: 10;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    /*text-align: center;*/
    font-size: 13px;
    color: #02327f;
    font-weight: bold;
    border:2px solid #02327f;
    border-radius: 16px;
    /*top: 40%;*/
    background-color: transparent;
}

#mySidenav button:hover {
    background-color: #0a72d8;
    color: #fff;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    /*border: 1px solid #888;*/
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@media only screen and (max-width : 1012px) {

    .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    /*border: 1px solid #888;*/
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 5px;
    text-align: center;
    /*background-color: #5cb85c;*/
    color: #181a1c;
}

.modal-body {padding: 2px 16px;}

/*.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
*/


/*.modal-body form {
    border: 3px solid #f1f1f1;
}*/

.modal-body input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal-body textarea{
	width: 100%;
	 border: 1px solid #ccc;
	 padding: 12px 20px;\
	 margin: 8px 0;
    display: inline-block;
}
.modal-body input[type=submit] {
    background-color: #015fbc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10%;
    width: 100%;
}

.modal-body input[type=submit]:hover {
    opacity: 0.8;
}

/*login page style starts*/

.login-box{
  position:relative;
  margin: 10px auto;
  width: 60%;
  height: 530px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.33);
}
.lb-header{
  position:relative;
  color: #00415d;
  margin: 5px 5px 10px 5px;
  padding-bottom:10px;
  margin-top: 20px;
  border-bottom: 1px solid #eee;
  text-align:center;
  height:28px;
}
.lb-header a{
  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.lb-header .active{
  color: #4289f4;
  font-size: 23px;
}
.header-text{
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
    /*border-top: 1px solid #eee;*/
    color:#7a7c7f;
}
.social-login{
  position:relative;
  float: left;
  height:auto;
  width: 100%;
  margin:auto;
  padding: 15px 0 15px 20px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.social-login a{
  position:relative;
  float: left;
  width:25%;
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(0,0,0,0.05);
  padding: 12px;
  border-radius: 2px;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 3%;
  text-align:center;
}
.social-login a i{
  position: relative;
  float: left;
  width: 20px;
  /*top: 2px;*/
  line-height: 20px;
}
.facebook{
  background-color: #49639F;
}
.twitter{
  background-color: #2170ef
}
.google{
  background-color: #DF4A32;
}
.email-login,.email-signup{
  position:relative;
  float: left;
  width: 100%;
  height:auto;
  margin-top: 20px;
  text-align:center;
}
.u-form-group{
  width:100%;
  margin-bottom: 10px;
}
.u-form-group input[type="text"],
.u-form-group input[type="email"],
.u-form-group input[type="password"]{
  width: calc(50% - 22px);
  height:45px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size:16px;
  -webkit-transition:all 0.1s linear;
  -moz-transition:all 0.1s linear;
  transition:all 0.1s linear;
}
.u-form-group input:focus{
  border-color: #358efb;
}
.u-form-group button{
  width:50%;
  background-color: #1CB94E;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  padding: 14px 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.forgot-password{
  width:50%;
  text-align: left;
  text-decoration: underline;
  color: #888;
  font-size: 1.5em;
}

@media only screen and (max-width : 1012px) {

    .lb-header{
      position:relative;
      color: #00415d;
      margin: 2px 2px 4px 2px;
      padding-bottom:10px;
      margin-top: 20px;
      border-bottom: 1px solid #eee;
      text-align:center;
      height:28px;
    }

    .lb-header a{
      margin: 0 10px;
      padding: 0 20px;
      text-decoration: none;
      color: #666;
      font-weight: bold;
      font-size: 16px;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      transition: all 0.1s linear;
    }
    .lb-header .active{
      color: #4289f4;
      font-size: 20px;
    }
    .social-login a{
      position:relative;
      float: left;
      width:calc(40% - 8px);
      text-decoration: none;
      color: #fff;
      border: 1px solid rgba(0,0,0,0.05);
      padding: 8px;
      border-radius: 2px;
      font-size: 12px;
      text-transform: uppercase;
      margin: 0 3%;
      text-align:center;
    }
    .social-login a i{
      position: relative;
      float: left;
      width: 18px;
      top: 2px;
    }

    .u-form-group input[type="text"],
    .u-form-group input[type="email"],
    .u-form-group input[type="password"]{
      width: 90%;
      height:45px;
      outline: none;
      border: 1px solid #ddd;
      padding: 0 10px;
      border-radius: 2px;
      color: #333;
      font-size:16px;
      -webkit-transition:all 0.1s linear;
      -moz-transition:all 0.1s linear;
      transition:all 0.1s linear;
    }
    .u-form-group input:focus{
      border-color: #358efb;
    }
    .u-form-group button{
      width:50%;
      background-color: #1CB94E;
      border: none;
      outline: none;
      color: #fff;
      font-size: 18px;
      font-weight: normal;
      padding: 10px 0;
      border-radius: 2px;
      text-transform: uppercase;
      margin-top: 20px;
    }
    .forgot-password{
      width:50%;
      text-align: left;
      text-decoration: underline;
      color: #888;
      font-size: 1em;
    }

}

@media only screen and (max-width : 512px) {

    .lb-header{
      position:relative;
      color: #00415d;
      margin: 1px 1px 2px 1px;
      padding-bottom:8px;
      margin-top: 10px;
      border-bottom: 1px solid #eee;
      text-align:center;
      height:20px;
    }

    .lb-header a{
      margin: 0 10px;
      padding: 0 10px;
      text-decoration: none;
      color: #666;
      font-weight: bold;
      font-size: 12px;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      transition: all 0.1s linear;
    }
    .lb-header .active{
      color: #4289f4;
      font-size: 15px;
    }
    .social-login a{
      position:relative;
      float: left;
      width:40px;
      text-decoration: none;
      color: #fff;
      border: 1px solid rgba(0,0,0,0.05);
      padding: 8px;
      border-radius: 2px;
      font-size: 12px;
      text-transform: uppercase;
      margin: 0 3%;
      text-align:center;
    }
    .social-login a i{
      position: relative;
      float: left;
      width: 14px;
      top: 2px;
    }
    .social-login p{
        display: none;
    }

    .u-form-group input[type="text"],
    .u-form-group input[type="email"],
    .u-form-group input[type="password"]{
      width: 90%;
      height:40px;
      outline: none;
      border: 1px solid #ddd;
      padding: 0 10px;
      border-radius: 2px;
      color: #333;
      font-size:16px;
      -webkit-transition:all 0.1s linear;
      -moz-transition:all 0.1s linear;
      transition:all 0.1s linear;
    }
    .u-form-group input:focus{
      border-color: #358efb;
    }
    .u-form-group button{
      width:50%;
      background-color: #1CB94E;
      border: none;
      outline: none;
      color: #fff;
      font-size: 16px;
      font-weight: normal;
      padding: 10px 0;
      border-radius: 2px;
      text-transform: uppercase;
      margin-top: 20px;
    }
    .forgot-password{
      width:50%;
      text-align: left;
      text-decoration: underline;
      color: #888;
      font-size: 1em;
    }

}

/*login page style ends*/

/*Tool Tip style*/

button[data-balloon] {
  overflow: visible;
}
[data-balloon] {
  position: relative;
}
[data-balloon]:before,
[data-balloon]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.18s ease-out 0.18s;
  transition: all 0.18s ease-out 0.18s;
  bottom: 100%;
  left: 50%;
  position: absolute;
  z-index: 10;
  -webkit-transform: translate(-50%, 10px);
  -ms-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}
[data-balloon]:after {
  background: rgba(17, 17, 17, 0.9);
  border-radius: 4px;
  color: #fff;
  content: attr(data-balloon);
  font-size: 12px;
  padding: .5em 1em;
  white-space: nowrap;
  margin-bottom: 11px;
}
[data-balloon]:before {
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%280%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;
  background-size: 100% auto;
  height: 6px;
  width: 18px;
  content: "";
  margin-bottom: 5px;
}
[data-balloon]:hover:before,
[data-balloon][data-balloon-visible]:before,
[data-balloon]:hover:after,
[data-balloon][data-balloon-visible]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
[data-balloon].font-awesome:after {
  font-family: FontAwesome;
}
[data-balloon][data-balloon-break]:after {
  white-space: pre;
}
[data-balloon-pos="down"]:before,
[data-balloon-pos="down"]:after {
  bottom: auto;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -10px);
  -ms-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
}
[data-balloon-pos="down"]:after {
  margin-top: 11px;
}
[data-balloon-pos="down"]:before {
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;
  background-size: 100% auto;
  height: 6px;
  width: 18px;
  margin-top: 5px;
  margin-bottom: 0;
}
[data-balloon-pos="down"]:hover:before,
[data-balloon-pos="down"][data-balloon-visible]:before,
[data-balloon-pos="down"]:hover:after,
[data-balloon-pos="down"][data-balloon-visible]:after {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
[data-balloon-pos="left"]:before,
[data-balloon-pos="left"]:after {
  bottom: auto;
  left: auto;
  right: 100%;
  top: 50%;
  -webkit-transform: translate(10px, -50%);
  -ms-transform: translate(10px, -50%);
  transform: translate(10px, -50%);
}
[data-balloon-pos="left"]:after {
  margin-right: 11px;
}
[data-balloon-pos="left"]:before {
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28-90%2018%2018%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;
  background-size: 100% auto;
  height: 18px;
  width: 6px;
  margin-right: 5px;
  margin-bottom: 0;
}
[data-balloon-pos="left"]:hover:before,
[data-balloon-pos="left"][data-balloon-visible]:before,
[data-balloon-pos="left"]:hover:after,
[data-balloon-pos="left"][data-balloon-visible]:after {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
[data-balloon-pos="right"]:before,
[data-balloon-pos="right"]:after {
  bottom: auto;
  left: 100%;
  top: 50%;
  -webkit-transform: translate(-10px, -50%);
  -ms-transform: translate(-10px, -50%);
  transform: translate(-10px, -50%);
}
[data-balloon-pos="right"]:after {
  margin-left: 11px;
}
[data-balloon-pos="right"]:before {
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;
  background-size: 100% auto;
  height: 18px;
  width: 6px;
  margin-bottom: 0;
  margin-left: 5px;
}
[data-balloon-pos="right"]:hover:before,
[data-balloon-pos="right"][data-balloon-visible]:before,
[data-balloon-pos="right"]:hover:after,
[data-balloon-pos="right"][data-balloon-visible]:after {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
[data-balloon-length]:after {
  white-space: normal;
}
[data-balloon-length="small"]:after {
  width: 80px;
}
[data-balloon-length="medium"]:after {
  width: 150px;
}
[data-balloon-length="large"]:after {
  width: 260px;
}
[data-balloon-length="xlarge"]:after {
  width: 90vw;
}
@media screen and (min-width: 768px) {
  [data-balloon-length="xlarge"]:after {
    width: 380px;
  }
}
[data-balloon-length="fit"]:after {
  width: 100%;
}

/*Tool tip style ends*/

